/******************************************************************

Stylesheet: 660px以上のタブレットやモニタで適用

******************************************************************/

body,
.font-size-pc3-4 {
  font-size: 20px;
  line-height: 2;
}

h1 {
  font-size: 60px;
  line-height: 1.667; //100px
}

h2 {
  font-size: 44px;
  line-height: 1.818; //80px
}

h3 {
  font-size: 40px;
  line-height: 0.9; //36px
}

.font-size-pc1 {
  font-size: 32px;
  line-height: 1.125; //36px
}

.font-size-pc1-2 {
  font-size: 32px;
  line-height: 1.75; //56px
}

.font-size-pc2 {
  font-size: 24px;
  line-height: 2.5; //60px
}

.font-size-pc3 {
  font-size: 20px;
  line-height: 1.6; //32px
}

.font-size-pc3-2 {
  font-size: 20px;
  line-height: 1.3; //26px
}

.font-size-pc3-3 {
  font-size: 20px;
  line-height: 2.2; //44px
}

.font-size-pc4 {
  font-size: 16px;
  line-height: 1.25; //20px
}

.font-size-caption {
  font-size: 14px;
  line-height: 1.429; //20px
}

// footer

.footer {
  &__inner {
    padding: 117px 36px 65px;
  }

  &__flex {
    gap: clamp(40px, 6.46vw, 124px);
  }

  &__logo {
    width: 201.67px;
    height: 131px;
  }

  // &__nav {
  // }

  &__lists {
    grid-template-columns: 131fr 255fr;
    gap: 20px clamp(20px, 4.17vw, 80px);
  }

  &__link {
    font-size: clamp(16px, 1.95vw, 20px);
  }

  &__copyright {
    margin-top: 112px;
  }
}

// top-page

.top-page {
  .fv {
    aspect-ratio: 1920/971;
    background: linear-gradient(180deg, #c0cee7 0%, #546b92 100%);

    &__slider {
      aspect-ratio: 1846 / 890;
    }

    &__slide {
      aspect-ratio: 1846/887;

      &--2 {
        &--2 {
        background-image: url("./images/top-fv2-sp.jpg");
      }
      }

      &.is-active {
        opacity: 1;
      }
    }

    &__text {
      top: 16%;
    }

    &__text-inner {
      padding: 0 6vw;
      margin: 0 auto;
      max-width: 1780px;
    }

    &__en {
      font-size: clamp(14px, 2.02vw, 36px);
      line-height: 1;
    }

    &__title {
      margin-top: 26px;
      font-size: clamp(28px, 4.04vw, 72px);
      line-height: 1.5;
    }

    &__sub-text {
      display: block;
      position: absolute;
      right: 4vw;
      bottom: 1.5vw;
      color: #fff;
      text-align: right;
      font-family: $font-en;
      font-size: clamp(14px, 2.13vw, 38px);
      font-weight: 300;
      line-height: 1;
      letter-spacing: 0.01em;
    }

    &__reserve-btn {
      display: none;
    }
  }

  .about {
    padding: 105px 0 118px;
  }

  .about-what {
    &__heading {
      display: none;
    }

    &__container {
      max-width: 100%;
    }

    &__text {
      -webkit-text-stroke-width: 0.2px;
      -webkit-text-stroke-color: $color-light-black;
      font-size: clamp(14px, 2.34vw, 24px);
      line-height: 2.5;
      letter-spacing: 0em;
    }

    &__link {
      font-size: 24px;
      line-height: 2.5;

      &:hover {
        color: #acacac;
      }
    }

    &__map {
      margin-top: clamp(-435px, -42.48vw, -200px);
      margin-left: auto;
      width: clamp(300px, 60.35vw, 618px);
      right: 6px;
      aspect-ratio: 618/624;
    }
  }

  .about-consulting {
    margin-top: clamp(-56px, -5.47vw, 0px);
    position: relative;

    &__heading {
      font-size: 44px;
      letter-spacing: 0.1em;
    }

    &__img {
      margin-left: 0;
      margin-right: 0;
      margin-top: clamp(-112px, -10.94vw, 0px);

      img {
        max-width: clamp(500px, 88.87vw, 910px);
        height: auto;
      }
    }

    &__reserve-btn {
      position: absolute;
      bottom: 112px;
      right: 0px;
      display: inline-flex;
      align-items: center;
      gap: 21px;
      padding: 23px 46px;
      border-radius: 100px;
      background: $color-blue;
      color: $color-white;
      font-size: clamp(16px, 3.13vw, 32px);
      line-height: 1.5;
      letter-spacing: 0.1em;
      -webkit-text-stroke-width: 0.3px;
      -webkit-text-stroke-color: #fff;
      box-shadow: 0 4px 13px 4px rgba(0, 0, 0, 0.25);

      &::after {
        content: "";
        flex-shrink: 0;
        width: 42px;
        height: 42px;
        background: url("./images/icon-calender.svg") no-repeat center/contain;
      }
    }

    &__text {
      margin-top: clamp(-88px, -8.59vw, 0px);
      font-size: 24px;
    }
  }

  .steps {
    &__inner {
      padding: 45px 33px 90px;
    }

    &__head {
      font-size: 18px;
      text-align: center;

      &::after {
        display: none;
      }
    }

    &__heading {
      margin-top: -2px;
      color: #fff;
      text-align: center;
      -webkit-text-stroke-color: #fff;
      font-size: 24px;
      line-height: 1.5;
    }

    &__lists {
      margin-top: 50px;
      padding: 0;
      display: flex;
      flex-direction: row;
      gap: clamp(20px, 6.05vw, 62px);
      justify-content: center;
    }
  }

  .steps-list {
    flex-direction: column;
    gap: 9px;

    &__img {
      flex: 0 0 auto;
      width: clamp(150px, 24.41vw, 250px);
      aspect-ratio: 250/247;

      img {
        width: 100%;
      }
    }

    &__text {
      font-size: 20px;
      line-height: 1.5;
      text-align: center;

      span {
        display: inline-block;
      }
    }

    &__link-inner {
      margin-top: -10px;
    }

    &__link {
      font-size: 14px;
      line-height: 1.42;

      &::after {
        width: 11.389px;
        height: 11.396px;
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }

  .service {
    padding: 85px 0 95px;

    &__box {
      padding: 52px clamp(20px, 3.65vw, 70px) 70px;
      border-radius: 20px;
    }

    &__head-inner {
      flex-direction: row;
      text-align: left;
      align-items: start;
      gap: 50px;
    }

    &__heading-inner {
      color: $color-blue;
    }

    &__heading-en {
      font-size: 30px;
      line-height: 1.2;
    }

    &__heading-ja {
      margin-top: 0px;
      font-size: 14px;
    }

    &__head-text {
      font-size: 20px;
      line-height: 1.5;
    }

    &__lists {
      margin-top: 73px;
      display: flex;
      gap: clamp(20px, 3.28vw, 63px);
      justify-content: center;
    }

    &__list {
    }

    &__img {
      width: clamp(50px, 9.77vw, 100px);
    }

    &__text {
      font-size: clamp(12px, 1.56vw, 16px);
    }
  }

  .members {
    &__head-inner {
      display: flex;
      align-items: center;
      gap: 18px;
    }

    &__heading-en {
      font-size: 32px;
      line-height: 1.12;
    }

    &__heading-ja {
      margin-top: 0;
      font-size: 14px;
    }

    &__slides {
      margin-top: 20px;
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 33.4%;
        top: 0;
        right: -1px;
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 12.9%,
          rgba(255, 255, 255, 0.65) 58.54%,
          rgba(255, 255, 255, 0.9) 100%
        );
        z-index: 1;
      }
    }

    &__slide {
      width: 260px;
      height: 360px;
    }

    &__slide-next {
      width: 24px;
      display: block;
      transform: translateY(-5%);
    }

    &__link {
      position: relative;
      top: -12px;
      right: 4px;
      color: $color-blue;
      font-size: 24px;
      border-bottom: 5px solid $color-blue;
      padding-right: 60px;
      padding-left: 20px;
      padding-bottom: 14px;
      line-height: 1;

      &::after {
        width: 43.372px;
        height: 17.695px;
        background: url("./images/members-link-arrow-blue.svg") no-repeat center center / contain;
      }
    }

    &__main-text {
      font-size: clamp(20px, 3.13vw, 32px);
      line-height: 1.75;
    }

    &__text {
      margin-top: 22px;
      -webkit-text-stroke-width: 0px;
      font-size: clamp(14px, 2.34vw, 24px);
      line-height: 1.83;
      margin-left: 0;
    }

    &__text-inner {
      margin-top: 19px;
      display: flex;
      justify-content: space-between;
      align-items: start;
    }
  }

  .qa {
    margin-top: 146px;

    &__heading {
      font-size: 32px;
      line-height: 1.12;
    }

    &__lists {
      margin-top: 27px;
      display: flex;
      flex-direction: column;
      min-height: 839px;
      padding: 0 10px;
    }
  }

  .qa-list {
    &__head {
      padding: 22px 56px 22px;
      line-height: 1.25;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: auto;
        left: 12px;
        width: 24px;
        height: 24px;
        background: url("./images/qa-plus.svg") no-repeat center center / contain;
      }
    }

    &__head-text {
      color: #000;
      -webkit-text-stroke-width: 0.1px;
      -webkit-text-stroke-color: #000;
      font-size: 18px;
    }

    &__body {
      display: none;
    }

    &__a {
      padding: 0px 56px 21px 56px;
    }

    &__a-text {
      font-size: 18px;
      line-height: 1.66;
    }
  }
}

// concept page

.concept-page {
  .fv {
    background: url("./images/concept-fv-pc.webp") no-repeat center center / contain;
    aspect-ratio: 1920/728;

    &__text-inner {
      position: relative;
      bottom: auto;
      top: 25%;
      left: 0;
    }

    &__head-en {
      font-size: 16px;
      line-height: 1.5;
    }

    &__head-ja {
      font-size: 12px;
      line-height: 1.5;
    }

    &__heading {
      margin-top: 6px;
      font-size: 36px;
      line-height: 1.8;
    }
  }

  .about {
    &__message {
      padding: 46.5px 0;
      font-size: 20px;
      line-height: 2.5;
    }

    &__contents {
      background: #e1e7ee;
      padding: 93px 0;
    }

    &__vision,
    &__creed,
    &__motto {
      padding: 0;
    }

    &__creed,
    &__motto {
      margin-top: 54px;
    }

    &__heading-en {
      font-size: 18px;
      line-height: 1.33;
    }

    &__heading-ja {
      font-size: 24px;
      line-height: 1.33;
      margin-top: 3px;
    }

    &__body {
      padding: 20px 0 20px 23px;
      margin: 16px 0 0 10px;

      &--motto {
        padding: 4px 0 2px 46px;
      }
    }

    &__text {
    }

    &__creed-img {
      max-width: 481px;
      aspect-ratio: 481/170;
      left: 0px;
      top: 2px;
      padding-bottom: 14px;
    }

    &__list {
      font-size: clamp(16px, 2.6vw, 20px);
      line-height: 2.7;
    }
  }

  .values {
    margin-top: 68px;

    &__heading-en {
      font-size: 18px;
      line-height: 2;
    }

    &__heading-ja {
      font-size: 28px;
      line-height: 1.5;
    }

    &__lists {
      margin-top: 24px;
      gap: 48px;
    }

    &__list {
      padding-left: 42px;
    }

    &__number {
      font-size: 32px;
      line-height: 1.12;
    }

    &__sub-heading {
      margin-top: 10px;
      font-size: 28px;
      line-height: 1;
      padding-bottom: 32px;
    }

    &__text {
      &:not(:first-of-type) {
        margin-top: 1.9em;
      }
    }

    &__sub-lists {
      margin-top: 1.9em;
    }

    &__sub-list {
      line-height: 2;
    }
  }

  .message {
    margin-top: 86px;

    &__heading-en {
      font-size: 18px;
      line-height: 2;
    }

    &__heading-ja {
      font-size: 28px;
      line-height: 1.5;
    }

    &__img {
      margin: 20px 0 24px;
      aspect-ratio: 920/569;
    }

    &__img-inner {
      bottom: 11%;
      left: 10%;
    }

    &__post {
      font-size: 18px;
      line-height: 1.33;
    }

    &__name {
      margin-top: 12px;
      font-size: 24px;
      line-height: 1;
    }

    &__text {
      font-size: 20px;
      line-height: 2;
      letter-spacing: 0.015em;
      padding-bottom: 2.1em;

      &:not(:first-of-type) {
        margin-top: 22px;
      }

      &--2 {
        font-size: 18px;
        line-height: 2.22;
      }
    }

    &__slogan {
      padding: 26px 0 10px;
      text-align: left;
      height: 76px;

      img {
        width: 448.167px;
        height: 24.224px;
      }
    }
  }

  .info {
    padding: 156px 0 199px;

    &__heading-en {
      font-size: 18px;
      line-height: 2;
    }

    &__heading-ja {
      margin-top: 0;
      font-size: 28px;
      line-height: 1.5;
    }
  }

  .info-table {
    margin-top: 34px;
    grid-template-columns: clamp(150px, 27.73vw, 284px) auto;

    &__head {
      padding: 21px 37px;
      font-size: 18px;
      line-height: 1.33;
      min-height: 66px;
    }

    &__body {
      padding: 20px clamp(20px, 4.59vw, 47px) 22px;
    }

    &__text {
      font-size: 18px;
      line-height: 1.33;

      &--inline {
        display: inline-block;
      }
    }

    &__date {
      margin-top: 2px;
      font-size: 18px;
      line-height: 1.66;
    }

    &__list {
      font-size: 18px;
    }
  }
}

// members page

.members-page {
  .members {
    padding: 72px 0 180px;

    &__inner {
      padding: 0 33px;
      margin: 0 auto;
      max-width: 1378px;
    }

    &__heading-en {
      font-size: 36px;
    }

    &__heading-ja {
      margin-top: -3px;
      font-size: 18px;
    }

    &__lists {
      max-width: 100%;
      margin: 60px auto 0;
      grid-template-columns: repeat(4, 1fr);
      gap: 0;
    }
  }

  .members-list {
    max-width: 328px;
    padding: 30px clamp(5px, 2.18vw, 30px) 36px;

    &__img {
      aspect-ratio: 268/371;
    }

    &__name-ja {
      margin-top: 26px;
      font-size: clamp(14px, 2.15vw, 22px);
    }

    &__name-en {
      font-size: clamp(10px, 1.56vw, 16px);
    }
  }
}

// partners page

.partners-page {
  .partners {
    padding-bottom: 250px;

    &__heading-en {
      padding-top: 80px;
      font-size: 36px;
      line-height: 1.22;
    }

    &__heading-ja {
      padding-bottom: 80px;
      font-size: 18px;
      line-height: 1.33;
    }

    &__container {
      padding-bottom: 102px;
    }

    &__sub-heading {
      font-size: 32px;
      line-height: 1.65;

      &::after {
        height: 3px;
        margin-left: 36px;
        margin-right: 16px;
      }
    }

    &__lists {
      margin-top: 33px;
      flex-direction: row;
      padding: 0 8px;
    }

    &__list-flex {
      flex: 0 0 36%;

      &:last-of-type {
        flex: 0 0 28%;
      }
    }

    &__link {
      line-height: 2.7;
      font-size: clamp(10px, 1.51vw, 20px);
    }

    &__others-lists {
      padding: 22px 0 0;
      display: flex;
      flex-wrap: wrap;
      gap: 68px 36px;
      justify-content: center;
    }

    &__others-list {
      max-width: 450px;

      &--5 {
        max-width: clamp(300px, 44.04vw, 584px);
        margin: 0 clamp(0px, 3.02vw, 40px);
      }
    }

    &__others-img {
      width: 100%;
      aspect-ratio: 39/20;
      max-width: clamp(200px, 29.41vw, 390px);
      margin: auto;

      &--5 {
        max-width: 504px;
        aspect-ratio: 504/200;
      }
    }

    &__others-text {
      font-size: clamp(14px, 1.66vw, 22px);
      padding: 15px 0 0;

      &--2 {
        font-size: clamp(14px, 1.66vw, 22px);
      }
    }
  }
}

// contact-page

.contact-page {
  .contact {
    padding-bottom: 329px;

    &__heading-en {
      padding-top: 105px;
      font-size: 40px;
      line-height: 1;
    }

    &__heading-ja {
      margin-top: 11px;
      font-size: 18px;
      line-height: 1.85;
    }

    &__text {
      margin-top: 56px;
      font-size: 18px;
      line-height: 2.22;
    }
  }

  .form {
    margin: 45px auto 0;
    padding: 0;
    max-width: 638px;

    &__fields {
      gap: 24px;
    }

    &__privacy {
      margin-top: 40px;
    }

    &__checkbox {
      gap: 16px;
    }

    &__checkbox-text {
      font-size: 18px;
      padding-left: 55px;

      &::before {
        width: 39px;
        height: 39px;
      }

      &::after {
        width: 30px;
        height: 26px;
        left: 4px;
      }
    }

    &__button {
      margin-top: 39px;
    }

    &__button-input {
      height: 62px;
      padding: 4px;
      font-size: 22px;
    }
  }

  .form-field {
    display: flex;
    flex-direction: column;

    &__label {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__head {
      font-size: 18px;
      line-height: 1.22;
    }

    &__note {
      font-size: 14px;
    }

    &__item {
      width: 100%;
    }

    &__text {
      height: 52px;
      font-size: 18px;
    }

    &__textarea {
      height: 235px;
    }
  }
}

// thanks-page

.thanks-page {
  margin-top: 66px;

  @media (min-width: 1024px) {
    margin-top: 112px;
  }

  .thanks {
    &__heading-en {
      padding-top: 105px;
      font-size: 40px;
      line-height: 1;
    }

    &__heading-ja {
      margin-top: 11px;
      font-size: 18px;
      line-height: 1.85;
    }

    &__text {
      font-size: 18px;
    }
  }
}
